html, body {
  margin: 0;
}

.subTitle {
  color: rgb(153, 153, 153);
  margin-top: 0;
  margin-bottom: 40px;
}

p {
  color: rgb(82, 82, 82);
}

a:hover {
  color: #ff7f11;
  text-decoration: none;
}
