.gridContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.gridItem {
  width: 30%;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
}

.gridItem:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.dim {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureContainer {
  width: 60vw;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

.closeIcon:hover {
  cursor: pointer;
}

.loader {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-weight: bold;
}

.archiveContainer {
  text-align: right;
  width: 100%;
  padding-right: 40px;
  margin-bottom: 30px;
}

.archiveContainer > a {
  color: gray;
}
