.carousel {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  position: relative;
}

.carousel img {
  max-height: 400px;
  margin-bottom: 0;
}

.arrowContainer {
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  transition: background-color 200ms linear;
  cursor: pointer;
}

.arrowContainer:hover {
  background-color: rgba(0, 0, 0, 0.103);
}

.singleImage {
  cursor:not-allowed;
}

.loading {
  visibility: hidden;
}

.loadingMessage {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.noDisplay {
  display: none;
}

.noOpacity {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.counter {
  position: absolute;
  text-align: center;
  bottom: 5px;
  padding: 10px;
  background-color: rgba(199, 199, 199, 0.541);
  border-radius: 4px;
}

#prevArrow {
  left: 0;
}

#nextArrow {
  right: 0;
}
