.dropdownBox {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  max-width: 200px;
  width: 90vw;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
}

.dropdownBox > * {
  padding-top: 5px;
}

.dropdownContainer {
  position: relative;
}

.disabled {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.disabledTitle {
  color: gray !important;
  display: block;
}
