.container {
  border: 1px solid #FF7F11;
  border-radius: 4px;
  transition: height 2s;
  margin-bottom: 20px;
}

.question-container > h4 {
  margin: 0;
  padding: 15px;
}

.question-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.expanded {
  padding: 15px;
  max-height: 600px;
  overflow: scroll;
  border-top: 1px solid rgb(190, 190, 190);
}

.notExpanded {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  border-top: none;
}

.answerContainer {
  transition: max-height 0.5s, padding 0.5s;
  -ms-overflow-style: none;
}

.answerContainer::-webkit-scrollbar {
  display: none;
}
