.navMain {
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: height 0.5s, background-color 0.5s;
}

.leftContainer {
  margin-left: 20px;
  display: flex;
}

.rightContainer {
  margin-right: 20px;
  display: flex;
}

.rightContainer a {
  text-decoration: none;
}

.underline:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 6px;
  top: 100%;
  left: 0;
  background: #FF7F11;
  border-radius:3px;
  display: block;
  margin: 0;
  box-sizing: border-box;
  transition: width 0.3s;
}

.underline:hover:after {
  width: 100%;
}

.underline {
  position: relative;
}

.rightContainer > * {
  margin-left: 30px;
}

.logo {
  text-decoration: none;
  background-image: none !important;
  position: relative;
  transition: width 0.5s;
}
